NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_ADMIN_KEY=your-admin-api-key-here

# Notedrill Admin API
NEXT_PUBLIC_NOTEDRILL_API_URL=https://api.notedrill.com/api/v1
NEXT_PUBLIC_NOTEDRILL_ADMIN_KEY=your-notedrill-admin-key-here
